<header>
  <h1>
    <a href="{{ '/' | relative_url }}">Kate Donaldson</a>
  </h1>
</header>

<nav>
  <ul>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
    <li><a href="{{ '/services' | relative_url }}">Services</a></li>
    <li><a href="{{ '/testimonials' | relative_url }}">Testimonials</a></li>
    <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
    <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
  </ul>
</nav>